{:config-in-call {js4clj.utils/js. {:ignore [:unresolved-symbol :type-mismatch]}, js4clj.utils/js.- {:ignore [:unresolved-symbol :type-mismatch]}, js4clj.utils/js.. {:ignore [:unresolved-symbol :type-mismatch]}}}